<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container">
            <form th:object="${order}" action="/orders/addSubmit" th:action="@{/orders/addSubmit}" method="post" class="form-horizontal">
                <fieldset>
                    <p th:text="${message}">message here</p>
                    <table class="table table-striped">
                        <tr>
                            <td><input type= "hidden" th:field="${order.id}"</td>
                        </tr>
                        <tr>
                            <th>Customer</th>
                            <td>
                                <select th:field="${order.customerId}">
                                    <option value="0">Select Customer</option>
                                    <option th:each="customer : ${customers}" th:value="${customer.key}" th:text="${customer.value}"></option>
                                    
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Baby Boy Flowers</th>
                            <td>
                                <select th:field="${order.item1}">
                                    <option th:each="i : ${#numbers.sequence(0, 20)}" th:value="${i}" th:text="${i}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Baby Girl Flowers</th>
                            <td>
                                <select th:field="${order.item2}">
                                    <option th:each="i : ${#numbers.sequence(0, 20)}" th:value="${i}" th:text="${i}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Very Special Delivery Flowers</th>
                            <td>
                                <select th:field="${order.item3}">
                                    <option th:each="i : ${#numbers.sequence(0, 20)}" th:value="${i}" th:text="${i}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Small Teddy Bear</th>
                            <td>
                                <select th:field="${order.item4}">
                                    <option th:each="i : ${#numbers.sequence(0, 20)}" th:value="${i}" th:text="${i}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Med Teddy Bear</th>
                            <td>
                                <select th:field="${order.item5}">
                                    <option th:each="i : ${#numbers.sequence(0, 20)}" th:value="${i}" th:text="${i}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Large Teddy Bear</th>
                            <td>
                                <select th:field="${order.item6}">
                                    <option th:each="i : ${#numbers.sequence(0, 20)}" th:value="${i}" th:text="${i}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Order Status</th>
                            <td>
                                <select th:field="${order.orderStatus}">
                                    <option th:each="status : ${statuses}" th:value="${status.key}" th:text="${status.value}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Amount Paying Today</th>
                            <td>
                                <input type="number" th:field="${order.amountPaid}">
                                    <ul th:if="${#fields.hasErrors('amountPaid')}">
                                        <li class="error" th:each="err : ${#fields.errors('amountPaid')}" th:text="${err}">Amount invalid</li>
                                    </ul>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="button" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    
      <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>